.statistics {
  margin-top: 40px;
}

.title {
  text-align: center;
}

.statList {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding-left: 30px;
}

.item:nth-child(1) {
  background-color: rgb(66, 227, 242);
}

.item:nth-child(2) {
  background-color: rgb(200, 76, 249);
}

.item:nth-child(3) {
  background-color: rgb(252, 89, 89);
}

.item:nth-child(4) {
  background-color: rgb(255, 220, 78);
}

.item:nth-child(5) {
  background-color: rgb(166, 247, 74);
}

.item:not(:last-child) {
  padding-right: 30px;
}

.label {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 15px;
}

.percentage {
  color: #fff;
  padding-bottom: 30px;
}