.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.avatar {
  margin: auto;
}

.stats {
  text-align: center;
}

.statsItem {
  text-align: center;
}



